/*
Error: Invalid CSS after "$red : #960101": expected "{", was "; // red color "
        on line 31 of ./resources/sass/uicreep.scss

26: 
27: $brand : #006c03; // brand color
28: $gray : #2d2e2e; // secondary color for brand
29: $gray-light : #414141; // lighter color for gray
30: <<<<<<< HEAD
31: $red : #960101; // red color 
32: =======
33: $red : #f61e29; // red color
34: >>>>>>> 0a61840aba37a2e4a657e8d4d0237ddbfa5d61b8
35: $black : #0c121c; // black for MG
36: 

Backtrace:
./resources/sass/uicreep.scss:31
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:1162:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:1098:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:1093:in `tok!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:638:in `block'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:632:in `ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:657:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:650:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:117:in `stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/scss/parser.rb:42:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/engine.rb:403:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/engine.rb:278:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/exec/sass_scss.rb:418:in `run'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"$red : #960101\": expected \"{\", was \"; // red color \"\A         on line 31 of ./resources/sass/uicreep.scss\A \A 26: \A 27: $brand : #006c03; // brand color\A 28: $gray : #2d2e2e; // secondary color for brand\A 29: $gray-light : #414141; // lighter color for gray\A 30: <<<<<<< HEAD\A 31: $red : #960101; // red color \A 32: =======\A 33: $red : #f61e29; // red color\A 34: >>>>>>> 0a61840aba37a2e4a657e8d4d0237ddbfa5d61b8\A 35: $black : #0c121c; // black for MG\A 36: "; }
